.bg-dark-green{
    background-color: #638f32!important;
}
.text-dark-green{
    color: #638f32!important;
}

.bg-blue{
    background-color: #3A5FDE!important;
}
.text-blue{
    color: #3A5FDE!important;
}


.bg-light-green{
    background-color: #87DE23!important;
}
.text-light-green{
    color: #87DE23!important;
}

.bg-red{
    background-color: #de3a0D!important;
}
.text-red{
    color: #de3a0D!important;
}

.bg-brown{
    background-color: #912c10!important;
}
.text-brown{
    color: #912c10!important;
}

